In [1]:
from pymmseqs.commands import easy_search

In [4]:
search_res = easy_search(
    query_fasta="rat.fasta",
    target_fasta_or_db="human.fasta",
    alignment_file="cluster_output/clust",
    tmp_dir="cluster_output/tmp",
    min_seq_id=0.9,
    max_seqs=10000,
)

-------------------- Running a mmseqs2 command --------------------
✓ Detailed execution log has been saved
✓ Easy Search completed successfully
  Results saved to: /Users/heispv/Documents/pymmseqs/examples/commands-module/easy_search/cluster_output/clust

You can also use:
```python
search_res = easy_search(
    "rat.fasta",
    "human.fasta",
    "cluster_output/clust",
    "cluster_output/tmp",
    min_seq_id=0.9,
    max_seqs=10000,
)
```

In [6]:
search_gen = search_res.to_gen()

In [7]:
next(search_gen)

{'query': 'A0A096MJN4',
 'target': 'O43236',
 'fident': '0.925',
 'alnlen': '458',
 'mismatch': '34',
 'gapopen': '0',
 'qstart': '2',
 'qend': '459',
 'tstart': '21',
 'tend': '478',
 'evalue': '2.453E-287',
 'bits': '875'}

In [9]:
search_res.to_path()

'/Users/heispv/Documents/pymmseqs/examples/commands-module/easy_search/cluster_output/clust'

In [13]:
search_list = search_res.to_list()
search_list[-2:]

[{'query': 'Q6LED0',
  'target': 'P84243',
  'fident': 0.963,
  'alnlen': 136,
  'mismatch': 5,
  'gapopen': 0,
  'qstart': 1,
  'qend': 136,
  'tstart': 1,
  'tend': 136,
  'evalue': 6.603e-77,
  'bits': 249},
 {'query': 'Q6LED0',
  'target': 'Q6NXT2',
  'fident': 0.933,
  'alnlen': 136,
  'mismatch': 9,
  'gapopen': 0,
  'qstart': 1,
  'qend': 136,
  'tstart': 1,
  'tend': 135,
  'evalue': 1.0750000000000001e-71,
  'bits': 234}]

In [10]:
df = search_res.to_pandas()
df.head()

        query  target  fident  alnlen  ...  tstart  tend         evalue  bits
0  A0A096MJN4  O43236   0.925     458  ...      21   478  2.453000e-287   875
1  A0A096MJY4  Q06413   0.995     473  ...       1   473  4.118000e-305   927
2  A0A0G2JTR4  Q12979   0.984     859  ...       1   859   0.000000e+00  1701
3  A0A0G2JTZ2  P35712   0.966     828  ...       1   828   0.000000e+00  1535
4  A0A0G2JUG7  Q6DN90   0.955     941  ...      23   963   0.000000e+00  1738

[5 rows x 12 columns]