In [1]:
from pymmseqs.commands import createdb, search

In [2]:
query_db = createdb("rat.fasta", "out/rat_db")
target_db = createdb("human.fasta", "out/human_db")

-------------------- Running a mmseqs2 command --------------------
✓ Detailed execution log has been saved
✓ Database creation completed successfully
  Results saved to: /Users/heispv/Documents/pymmseqs/examples/commands-module/search/out/rat_db

-------------------- Running a mmseqs2 command --------------------
✓ Detailed execution log has been saved
✓ Database creation completed successfully
  Results saved to: /Users/heispv/Documents/pymmseqs/examples/commands-module/search/out/human_db

In [5]:
search_res = search(query_db.to_path(), target_db.to_path(), "out/search_res", "out/tmp", min_seq_id=0.9, max_seqs=10000)

-------------------- Running a mmseqs2 command --------------------
✓ Detailed execution log has been saved
✓ Search completed successfully
  Results saved to: /Users/heispv/Documents/pymmseqs/examples/commands-module/search/out/search_res

In [6]:
search_res.to_path()

'/Users/heispv/Documents/pymmseqs/examples/commands-module/search/out/search_res'

In [7]:
search_list = search_res.to_list()

Output is not readable. Executing convertalis command to convert the alignment database to a readable format.

-------------------- Running a mmseqs2 command --------------------
✓ Detailed execution log has been saved
✓ ConvertAlis completed successfully
  Results saved to: /Users/heispv/Documents/pymmseqs/examples/commands-module/search/out/search_res.tsv

You see that since the output of the search is not a .tsv file, when you call a method which needs to read from a .tsv file, under the hood a ConvertAlis function is called to parse the output of the search.

In [9]:
search_list[:2]

[{'query': 'A0A096MJN4',
  'target': 'O43236',
  'fident': 0.913,
  'alnlen': 458,
  'mismatch': 40,
  'gapopen': 0,
  'qstart': 2,
  'qend': 459,
  'tstart': 21,
  'tend': 478,
  'evalue': 2.4529999999999997e-287,
  'bits': 875},
 {'query': 'A6N6J5',
  'target': 'Q9P2L0',
  'fident': 0.915,
  'alnlen': 1180,
  'mismatch': 99,
  'gapopen': 0,
  'qstart': 1,
  'qend': 1169,
  'tstart': 1,
  'tend': 1180,
  'evalue': 0.0,
  'bits': 2257}]

But if you want to run another method, since we parsed the output to a .tsv file once, there is no need to parse it again, and the method will read from the .tsv file directly.

In [10]:
df = search_res.to_pandas()
df.head()

,query,target,fident,alnlen,mismatch,gapopen,qstart,qend,tstart,tend,evalue,bits
0,A0A096MJN4,O43236,0.913,458,40,0,2,459,21,478,2.453000e-287,875
1,A6N6J5,Q9P2L0,0.915,1180,99,0,1,1169,1,1180,0.000000e+00,2257
2,D3ZD32,Q8TDI0,0.911,1952,173,0,1,1946,1,1952,0.000000e+00,3713
3,D4A1R8,Q99829,0.913,536,46,0,1,535,1,536,0.000000e+00,1023
4,F1M4A4,Q12756,0.924,1707,128,0,1,1707,1,1690,0.000000e+00,3301

In [11]:
search_gen = search_res.to_gen()
next(search_gen)

{'query': 'A0A096MJN4',
 'target': 'O43236',
 'fident': '0.913',
 'alnlen': '458',
 'mismatch': '40',
 'gapopen': '0',
 'qstart': '2',
 'qend': '459',
 'tstart': '21',
 'tend': '478',
 'evalue': '2.453E-287',
 'bits': '875'}